/SFML
/Testing
/CMakeFiles
/cmake-build-debug
/.cmake
*.ninja_deps
*.ninja_log
.idea
*.ninja
CMakeCache.txt
*.cmake
*.a
*.tpm
# Исключить системные файлы
.DS_Store
Thumbs.db

# Исключить логи и временные файлы
*.log
*.tmp

# Исключить директорию node_modules
node_modules/

# Исключить файлы настроек IDE
.idea/
.vscode/

# Исключить бинарные файлы
*.exe
*.dll

# Исключить секретные файлы
.env

